.Projects {
    font-size: 28px;
    font-weight: bold;
    font-family: 'Arvo', 'serif';
    margin-left: 2.5vh;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: auto;
}


@media (min-width: 800px) {
    .Projects {
        width: 62vw;
        padding: 4vh 3vw;
        display: inline-block;
        padding-left: 33vw;
        font-size: 36px;
        max-width: none;
    }
}