.Project {
    margin: 2vh 0px;
    margin-right: 6vh;
    padding-right: 15px;
    transition: 0.4s ease-in-out;
    transform: scale(1);
}

.MainContent {
    font-size: 20px;
}

.Description {
    font-size: 15px;
    word-spacing: 5px;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
}


@media (min-width: 800px) {
    .Project {
        display: flex;
        padding-right: 0;
    }
    
    .Title {
        font-size: 25px;
    }
    
    .Description {
        font-size: 15px;
    }
}